.row {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
}
  
.row:nth-child(1) {
    align-items: end;
}
  
.row:nth-child(2) {
    grid-template-columns: 1fr 2fr 5fr 1fr 1fr;
    align-items: center;
}
  
.row:nth-child(3) {
    align-items: start;
}