{
    "plugins": [
      ["babel-plugin-module-resolver", {
        "alias": {
          "^effector$": "effector/compat",
          "^effector-react$": "effector-react/compat"
        }
      }]
    ]
  }